<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<a href="/">Home</a>
<a href="posts/new">New post</a>
<ul class="posts">
    {{ range .}}
        <li class="post">
            <a href="/posts/{{.Id}}"><h1 class="post-title">{{ .Title}}</h1></a>
            <p class="post=body">{{ .Body }}</p>
            <p class="post-author">by {{ .Author}}</p>
        </li>
    {{ end}}
</ul>
</body>
</html>